span {
  display: block;
  width: 100px;
  height: 100px;
  background: #444;
  margin: 4em auto;
  /*transition: property duration delay option*/
  transition: background 0.5s, width 0.5s, height 0.5s;
}

span:hover {
  width: 200px;
  height: 200px;
  background: red;
}
